
body {
	font-family: Arial, Sans-Serif;
	font-size: 12.5px; 
	clear:both;
	margin:0px;

}

a:link {color:green;}    /* unvisited link */
a:visited {color:#003300;} /* visited link */
a:hover {color:#FF0000;}   /* mouse over link */
a:active {color:#00FF00;}  /* selected link */

a.HOME {    
	font-size:25px;
	font-weight:bold;
	text-decoration:none;
	color:#003300;
	padding-left: 8px;
	/*margin:8px;*/
}
h3{
	color:#98bf21;
	font-weight: bold; 
	font-size:large;
}
h3.SHORT{
	color:#98bf21;
	font-weight: bold; 
	font-size:large;
	/*margin-RIGHT: 310px;*/	

}
.SEARCH {
float:right;
    padding-right:1px; 
    padding-top:1px; 
    margin-bottom:0px; 
	min-width:80px;
	width:196px;
	font-size: 12px;

}

/*div.GREENBAR {
    background-color:#98bf21;
    margin:0;
    padding:0;
    padding-bottom:4px; 
}
*/
.HEADERBLOCK {
    

	background-color: #336E1A;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#336E1A), to(#71D339)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #336E1A, #71D339); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #336E1A, #71D339); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #336E1A, #71D339); /* IE10 */
	background-image:      -o-linear-gradient(top, #336E1A, #71D339); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #336E1A, #71D339);



	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#336E1A', EndColorStr='#71D339', GradientType=0)"; /* IE6–IE9 */

	margin:0px;
	padding:8px 0px 0px 0px;
	border:0px


}


ul.NAVBAR
{
	background-color:#98aa21;
	list-style-type:none;
	margin: 8px 0px 0px 0px;
	padding:0px;
	/*padding-top:0px;*/
	padding-bottom:4px;
	padding-left:8px;
	height:20px;/*needed by chrome for some reason*/

	overflow:hidden;
	/*
	padding-top:6px;
	padding-bottom:6px;*/
}

li.NAVBARLI {

	padding:0px;
	padding-top:4px;

	float:left;
	display:inline-table;

	height:20px;
}

.CURVELEFT {
	border-radius: 8px 0px 0px 8px;
	-moz-border-radius: 8px 0px 0px 8px;
	behavior: url(border-radius.htc);
}
.CURVERIGHT {
	border-radius: 0px 8px 8px 0px;
	-moz-border-radius: 0px 8px 8px 0px;
	/*behavior: url(border-radius.htc);*/

}
.CURVEBOTH {
	border-radius: 8px 8px 8px 8px;
	-moz-border-radius: 8px 8px 8px 8px;
	/*behavior: url(border-radius.htc);*/
}

a.NAVBARITEM:link, a.NAVBARITEM:visited
{
	font-size:13.5px;
    border-right-style:solid;
    border-color:#557711;
    border-width:1px;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#98aa21;
	width:140px;
	text-align:center;
	padding:4px;
	text-decoration:none;
}
a.NAVBARITEM:hover,a.NAVBARITEM:active
{
	background-color:#7A991A;
}
/*a.NAVBAR:hover {color:#FF0000;}*/ 
/*a.NAVBAoR:active {color:#00FF00;} */

.PBOX
{
	float:right;
	border:1px dotted black;
	width:304px;
	height:250px;
	/*background-color: #D0D0D0;*/
	text-align:center;
	font-size:30px;
	margin-right:10px;
	margin-left:10px;

	background-image:
	  -moz-linear-gradient(45deg, #ccc 25%, transparent 25%), 
	  -moz-linear-gradient(-45deg, #ccc 25%, transparent 25%),
	  -moz-linear-gradient(45deg, transparent 75%, #ccc 75%),
	  -moz-linear-gradient(-45deg, transparent 75%, #ccc 75%);
	background-image:
	  -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #ccc), color-stop(.25, transparent)), 
	  -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #ccc), color-stop(.25, transparent)),
	  -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #ccc)),
	  -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #ccc));
	background-image:
	  -o-linear-gradient(45deg, #ccc 25%, transparent 25%), 
	  -o-linear-gradient(-45deg, #ccc 25%, transparent 25%),
	  -o-linear-gradient(45deg, transparent 75%, #ccc 75%),
	  -o-linear-gradient(-45deg, transparent 75%, #ccc 75%);
	
	-moz-background-size:40px 40px;
	background-size:40px 40px;
	-webkit-background-size:40px 40px; /* override value for shitty webkit */

	background-position:0 0, 20px 0, 20px -20px, 0px 20px;

	-moz-box-shadow: 1px 1px 8px gray;
	-webkit-box-shadow: 1px 1px 8px gray;
	box-shadow: 1px 1px 8px gray;

}
.NOIMAGE {
	font-style:italic;
	line-height:250px;
}
.PIC
{
	margin:2px 2px 0px 2px;	
	width:300px;
	height:220px;

}
table.PROPERTIESTABLE
{
    /*-moz-border-radius: 5px;*/
    /*able-layout:auto;*/
	width:remainder;
	border-collapse:collapse;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: small;
	/*margin-left: 25px;
	margin-right: 25px;*/	
	padding: 5px;
}

table.RECORDTABLE
{
    /*-moz-border-radius: 5px;*/
    /*able-layout:auto;*/
	/*width:remainder;*/
	border-collapse:collapse;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: small;
	/* margin-left: 25px;
	margin-right: 25px; */	
}
tr:nth-child(even) {background-color: #C4E2C4}
th {
	color:white;
	background:green;
}
.INVISIBLE{
border-collapse:collapse;
	border:0px;
	padding:0px;
	margin:0px;	/*border: 1px solid black;*/
	

}
table.RECORDTABLE, th, td.NORMAL, td.ANCHOR
{
	border: 1px solid black;
}

.PROPERTIESTABLE {
	border: 1px solid black;
	padding: 1px 3px;
}

td.NORMAL {	
	//width:5000px;
	padding-left: 5px;
}
.TABLETITLE {margin-left: 25px; margin-bottom: 0px;}
.NORMAL {  }
.ANCHORH { /*width: 25%;*/ }
.ANCHOR { font-weight:bold;	width: 25%; padding: 0.1cm 0.2cm; vertical-align:top;}

TABLE#QUERYTABLE {


}

#QUERYTABLE tr:nth-child(even) {background-color: #FFF}
#QUERYTABLE tr:nth-child(odd) {background-color: #C0C0C0}
#QUERYTABLE td:nth-of-type(1) {background-color: #D0D0D0}
/*td.TITLE{
	background-color: #C0C0C0 
}
*/
#adv_text {
font-weight: bold; 
}



.small {
	text-align:center;

	font-size:10.5px;

}
.searchbox {
	min-width:80px;
	width:190px;
	height: 16px;
	margin-top:1px; 
	border-style:solid;
	border-width:1px;
	border-color:gray;
	font-style: italic;
	color: grey;
}
.CONTENT {
	padding-left:25px;
	padding-right:25px;

}


/* Formatting for main page elements */


.mainpage {
	font-size: larger;
}
.mainpageletters {
	font-size: larger;
	margin-left:5ex;
}

#mainsearchbox {
	width:"100%";
	padding-left: 5ex;
	/*#padding-right:"50px";*/
	/* border:1px solid red; */
}

#mainsearchbox input[type="text"] {
	width: 50ex;
	font-size: larger;
	border-style:solid;
	border-width:1px;
	border-color:gray;
	font-style: italic;
	color: grey;
}

#mainsearchbox input[type="submit"] {
	font-size: larger;
}

.ref {
	display:inline;
	/*position: relative;*/
}

.ref > span
{	display:block;

	position: absolute;
	overflow:auto;
	visibility:hidden;
	background:#FFD992;
	border:1px solid;
	opacity:0;
	max-height:250px;

	max-width:250px;
	padding:.5em;
	box-shadow: 3px 3px 5px #888888;
	transition:visibility 0s linear 0.2s,opacity 0.2s linear;
	-moz-transition:visibility 0s linear 0.2s,opacity 0.2s linear;
	-webkit-transition:visibility 0s linear 0.2s,opacity 0.2s linear;
	-o-transition:visibility 0s linear 0.2s,opacity 0.2s linear;
}

.ref:hover > span
{  
	visibility:visible;
	opacity:1;
	transition-delay:0s;
	-moz-transition-delay:0s;
	-webkit-transition-delay:0s;
	-o-transition-delay:0s;
}

dl.refview {
	margin:0px;
	
}
dl.refview > dt:nth-child(1) {
	color:red;
	display:none;

}

dl.refview > dd:nth-child(2) {
	font-weight:bold;
	font-size: larger;
	margin:0px;

}
dl.refview > dd {
	margin-left:1.5em;

}
